.message {
    margin-top: 10px;
    font-weight: bold;
}
.positive {
    color: green;
}
.negative {
    color: red;
}

button {
    background-color: rgb(166, 58, 255);
    border: none;
    text-transform: uppercase;
    color: #FFF;
    font-weight: bold;
    font-size: 18px;
    font-style: italic;
    cursor: pointer;
}

input, button {
    display: block;
    padding: 8px;
    margin-bottom: 8px;
    width: 100%;
    resize: none;
}

button:hover {
    background-color: rgb(166, 58, 255);
}

.message-negative{
    font-size: 12px;
    padding: 8px;
    background-color: red;
    color:#FFF;
    margin-bottom: 8px;
    display: none;
}

.negative {
    color: red;
    border-color: red;
    outline-color: red;
}